@{
    ViewBag.Title = "index";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
   <!-- <link rel="shortcut icon" href="assets/ico/favicon.png">-->

    <title>Onassis - Bootstrap 3 Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <link href="~/Content/main.css" rel="stylesheet">
    <!--<link href="~/Content/style.css" rel="stylesheet">-->

      <link href="~/Content/style2.css" rel="stylesheet" media="screen" type="text/css" />

	<link rel="stylesheet" href="~/Content/font-awesome.min.css">
    
       <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>


    <script src="~/Scripts/jquery.min.js"></script>
	<script src="~/Scripts/Chart.js"></script>
      <script src="~/Scripts/index.js"></script>
      <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
      
	

	
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

   
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
		
	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
		  <h1 class="logo"><a href="index.html#home">PUCIT-OCW</a></h1>
		  <em class="icon-remove menu-close"></em> 
          <a href="#home" class="smoothScroll">HOME</a> 
          <a href="#about" class="smoothScroll">ABOUT US</a> 
          <a href="#contact" class="smoothScroll">CONTACT</a>
           <a href="https://www.facebook.com/Punjab.University.College.of.IT"><i class="icon-facebook"></i></a>
			<a href="https://twitter.com/pucitofficial"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-dribbble"></i></a>
			<a href="#"><i class="icon-envelope"></i></a>
            </div>
		
		<!-- Menu button -->
		<div id="menuToggle"><i class="icon-reorder"></i></div>
	</nav>


	
	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<br>
			<h1>PUCIT</h1>
			<h2>OPEN-COURSE WARE</h2>
			<div class="row">
				<br>
                    
                <a href="#services" class="btn-theme smoothScroll" data-id="services">SIGN-IN</a>
                       &nbsp;&nbsp;
                    <a href="/Home/Register" class="btn-theme">REGISTER</a>

     
				<br>
              
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<!-- ========== WHITE SECTION ========== -->
	<div id="w">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
				<h3>WELCOME TO <bold>PUCIT</bold>. <bold>OPEN-COURSE WARE</bold><br>DOWNLOAD IMPORTANT STUFF FROM <br><bold>TEACHER'S REPOSITORY</bold></h3>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /w -->
	
	<!-- ========== SERVICES - GREY SECTION ========== -->
	<section id="services" name="services"></section>
	<div id="g">
		<div class="container">
        
         </div><!-- /container -->
	</div><!-- /g -->
	
	<!-- ========== CHARTS - DARK GREY SECTION ========== -->
	<!-- /dg -->
	
  <section id="portfolio" name="portfolio"></section>
	<div id="portfoliowrap">
		<div class="container">
        <!--<div class="form-group">
        <div class="text-field-email">
							<form action="/Home/loginCheck" class="col-md-10 col-md-offset-8" >
								<input name="email" "text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                                <input name="pass"type="text" class="text" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                                <input name="signin" type="submit" value="SIGN-IN">

                                
							</form>
                            </div>
                            </div>-->


          <div class="form">

      
        <div id="login">   
          <form action="/Home/loginCheck" >

            <div class="field-wrap">
            <label>
              <span class="req"></span>
            </label>
            <input name="email" type="email"required autocomplete="off" placeholder="Email@pucit.edu.pk" style="color:white "/>
            
          </div>

          <div class="field-wrap">
            <label>
             <span class="req"></span>
            </label>
            <input name="pass"  type="password"required autocomplete="off"  placeholder="Password" style="color:white "/>
           
          
          </div>

         

          <button class="button button-block"/>Log In</button>

          </form>

        </div>


</div> <!-- /form -->
                            
                        
         </div><!-- /container -->
	</div><!-- /portfoliowrap -->
	
	<!-- ========== WHITE SECTION ========== -->	<!-- /w -->
	
	<!-- ========== ABOUT - GREY SECTION ========== -->
  <section id="about" name="about"></section>
	<div id="g">
		<div class="container">
			<div class="row">
				<h3>ABOUT US</h3>
				<br>
				<br>
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
				  <p>OUR MISSION IS TO RIGOROUSLY TRAIN OUR STUDENTS IN IT AND AFFILIATED FIELDS SO THAT THEY CAN SERVE HUMANITY WITH SKILS , KNOWLEDGE AND HIGH CHRACTER SO THAT THEY CAN BE A SOURCE OF PRIDE FOR THE NATION OF PAKISTAN.</p>
				  <br>
				<br>
			  </div>
				<div class="col-lg-2"></div>
				<div class="col-lg-3 team">
					<img class="img-circle" src="~/img/princpal.png" height="90" width="90">
					<h4>Prof. Dr Syed Mansoor Sarwar</h4>
					<h5><i>PRINCIPAL</i></h5>
					<p>PhD Computer Engineering, Iowa State University, USA, 1988,MS Computer Engineering, Iowa State University, USA 1985</p>
					<p>
						<a href="index.html#"><i class="icon-facebook"></i></a>
						<a href="index.html#"><i class="icon-twitter"></i></a>
						<a href="index.html#"><i class="icon-envelope"></i></a>

					</p>
				</div>

				<div class="col-lg-3 team">
					<img class="img-circle" src="~/img/shuja.png" height="90" width="90">
					<h4>Shuja-ur-Rehman Baig</h4>
					<h5><i>LECTURER</i></h5>
					<p>MS(CS), LUMS, Pakistan, 2010,BS(CS), PUCIT, Pakistan, 2006</p>
					<p>
						<a href="index.html#"><i class="icon-facebook"></i></a>
						<a href="index.html#"><i class="icon-twitter"></i></a>
						<a href="index.html#"><i class="icon-envelope"></i></a>

					</p>
				</div>

				<div class="col-lg-3 team">
					<img class="img-circle" src="~/img/arif-butt.png" height="90" width="90">
					<h4>ARIF BUTT</h4>
					<h5><i>Assistant Professor</i></h5>
					<p>PhD Computer Science (in progress) ,PU M.Phil Computer Science, PU , 2008 (First Position),M.Sc Computer Science, PU, 2005 (Gold Medal)</p>
					<p>
						<a href="index.html#"><i class="icon-facebook"></i></a>
						<a href="index.html#"><i class="icon-twitter"></i></a>
						<a href="index.html#"><i class="icon-envelope"></i></a>

					</p>
				</div>

				<div class="col-lg-3 team">
					<img class="img-circle" src="~/img/fareed.png" height="90" width="90">
					<h4>Fareed ul Hassan Baig</h4>
					<h5><i>Assistant Professor</i></h5>
					<p>M.Phil Computer Science , PU, 2008,M.Sc Computer Science, PU, 2003

                        .
					</p>
					<p>
						<a href="index.html#"><i class="icon-facebook"></i></a>
						<a href="index.html#"><i class="icon-twitter"></i></a>
						<a href="index.html#"><i class="icon-envelope"></i></a>

					</p>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /g -->
	
	<!-- ========== FOOTER SECTION ========== -->
	<section id="contact" name="contact"></section>
	<div id="f">
		<div class="container">
			<div class="row">
					<h3><b>CONTACT US</b></h3>
					<br>
					<div class="col-lg-4">
						<h3><b>Send Us A Message:</b></h3>
						<h3>Principal@pucit.edu.pk<br>
					  </h3>
						<br>
					</div>
					
					<div class="col-lg-4">
					  <h3><strong>Call Us:</strong></h3>
					  <h3>111-923-923-ext-113<br>
					  </h3>
						<br>
					</div>
					
					<div class="col-lg-4">
					  <h3><strong>We Are Social</strong></h3>
					  <p>
							<a href="https://www.facebook.com/Punjab.University.College.of.IT"><i class="icon-facebook"></i></a>
							<a href="https://twitter.com/pucitofficial"><i class="icon-twitter"></i></a>
							<a href="mailto:Principal@pucit.edu.pk"><i class="icon-envelope"></i></a>
						</p>
						<br>
					</div>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /f -->
	
	<div id="c">
		<div class="container">
		  <p>Created by <a href="mailto:bcsf11m101@pucit.edu.pk"">BCSF11M101 </a></p>
		</div>
	</div>
	
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
	<script src="~/Scripts/main.js"></script>
</body>
</html>
